---
layout: default
---

<article>

  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  <div id="toc"></div> <!-- TOC için yer ayırdık -->

  {{ content }}
</article>

<!-- TOC'yi başlatmak için gerekli JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.20.0/tocbot.min.js"></script>
<script>
  tocbot.init({
    tocSelector: '#toc', // TOC'nin yerleştirileceği alan
    contentSelector: 'article', // Başlıkların bulunduğu alan
    headingSelector: 'h1, h2, h3', // Hangi başlıkların TOC'ye dahil edileceği
    smoothScroll: true, // Yumuşak kaydırma
  });
</script>

<style>
  /* TOC numaralandırmayı gizler */
  #toc {
    list-style: none; /* Liste işaretlerini kaldırır */
    padding-left: 0; /* Sol boşluğu kaldırır */
  }

  #toc a {
    text-decoration: none; /* Bağlantı alt çizgilerini kaldırır */
  }
  #toc ol {
    list-style-type: none; /* Numara işaretlerini kaldırır */
  }
  
  #toc li {
    counter-increment: none; /* Sayacı sıfırlar */
  }
</style>
