---
layout: default
---

{%-include back_link.html-%}

<article>

  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  <div id="toc"></div> <!-- TOC için yer ayırdık -->

  {{ content }}
</article>

<a href="#" id="scroll-to-top" title="Yukarı Çık">↑</a>


<!-- TOC'yi başlatmak için gerekli JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.20.0/tocbot.min.js"></script>
<script>
  tocbot.init({
    tocSelector: '#toc', // TOC'nin yerleştirileceği alan
    contentSelector: 'article', // Başlıkların bulunduğu alan
    headingSelector: 'h1, h2, h3', // Hangi başlıkların TOC'ye dahil edileceği
    smoothScroll: true, // Yumuşak kaydırma
  });
</script>
<script>
  // Sayfa kaydırıldığında butonu göster
  window.onscroll = function() {
    var scrollToTopButton = document.getElementById("scroll-to-top");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      scrollToTopButton.style.display = "block";
    } else {
      scrollToTopButton.style.display = "none";
    }
  };

  // Butona tıklanıldığında sayfanın en üstüne kaydır
  document.getElementById('scroll-to-top').addEventListener('click', function(e) {
    e.preventDefault();
    window.scrollTo({top: 0, behavior: 'smooth'});
  });
</script>


<style>
  /* TOC numaralandırmayı gizler */
  #toc {
    list-style: none; /* Liste işaretlerini kaldırır */
    padding-left: 0; /* Sol boşluğu kaldırır */
  }

  #toc a {
    text-decoration: none; /* Bağlantı alt çizgilerini kaldırır */
  }
  #toc ol {
    list-style-type: none; /* Numara işaretlerini kaldırır */
  }
  
  #toc li {
    counter-increment: none; /* Sayacı sıfırlar */
  }
 #scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* İlk başta gizli */
  font-size: 24px;
  background-color: #007bff;
  color: white;
  width: 50px;  /* Buton genişliği */
  height: 50px; /* Buton yüksekliği */
  line-height: 50px; /* Dikey hizalama */
  border-radius: 50%; /* Tam yuvarlak */
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Butona gölge ekleyerek daha belirgin hale getirin */
}

#scroll-to-top:hover {
  background-color: #0056b3; /* Hover sırasında butonun rengi değişsin */
}

</style>
